/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  background-color: "#FFF";
}

#slideshow-container {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.slide {
  display: none;
}

body, html {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

#color-selector {
  margin-right: 200px;
  margin-left: 48px;
  margin-top: 20px;
  margin-bottom: 20px;
}

select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-repeat: no-repeat;
  border: 2px solid black;
  color: #000;
  font-size: 1.15rem;
  margin: 0;
  width: 100%;
  overflow: hidden;
  padding: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  padding: 15px;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  z-index: 9999;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.first-section {
  background-image: url('web_landing_newshirts.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

h1 {
  position: fixed;
  font-size: 50px;
  padding-top: 20px;
  font-weight: 500;
  font-family: Helvetica;
  z-index: 9999;
  left: 50%; /* Position at horizontal center */
  transform: translate(-50%); /* Adjust to center */
}

/* Section Styles */
section {
  position: relative;
  text-align: center;
  color: black;
}

.fixed-btns-left {
  position: fixed;
  bottom: 0;
  padding: 20px;
  z-index: 9999;
}

.fixed-btns-right {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  z-index: 9999;
}

.fixed-btn {
  color: black;
  border: none;
  background: transparent;
  font-size: 26px;
  cursor: pointer;
  font-family: Helvetica;
}

.fixed-anchor {
  color: black;
  font-size: 26px;
  font-family: Helvetica;
  text-decoration: none;
}

.instagram-anchor {
  margin-top: 40px;
  padding-bottom: 120px;
  color: black;
  font-size: 48px;
  font-family: Helvetica;
  text-decoration: none;
}

/* substituir pela imagem */
h2.subtitle {
  margin-top: 200px;
  color: rgb(255, 0, 0);
  text-align: center;
  font-size: 150px;
  font-family: Times;
  font-style: italic;
  transform: rotate(-30deg);
  display: inline-block; 
}

.btns-container {
  margin-top: 24px;
  margin-left: 48px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
}

.simple-btn {
  color: black;
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
  font-family: Helvetica;
}

a.simple-btn  {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none!important;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 0, 0); /* Blue background color */
  color: #ffffff; /* White text color */
  
}

.section-title {
  color: rgb(255, 0, 0);
  font-size: 60px;
  margin-left: 48px;
  font-family: Times;
  font-style: italic;
  font-weight: 500;
  text-align: left;
  margin-top: 80px;
  margin-bottom: 10px;
  position: relative;
}

/* Basic styling for the container */
.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Style for the left side (image) */
.left-side {
  flex: 1;
}

.left-side img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Style for the right side (text) */
.right-side {
  flex: 1;
}

.right-side-content p {
  margin-right: 200px;
  margin-left: 48px;
  margin-bottom: 16px;
  font-size: 16px;
  font-family: Helvetica;
}

/* Style for the modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 9999;
  overflow-y: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-wrapper {
  color: #000;
  padding: 0px 120px 0;
  border-radius: 5px;
  max-width: 100%;
  height: 100vh;
  font-size: 28px;
  display: flex;
  flex-direction: column;
}

.wrapper-sm {
  padding-top: 72px;
}

h3.modal-title {
  text-align: center;
  font-size: 72px;
  font-weight: 500;
}

h3.modal-title-sm {
  font-size: 24px;
  font-weight: 400;
}

p.modal-content {
  font-size: 48px;
}

p.modal-content-sm {
  margin-top: 24px;
  font-size: 18px;
}

p.modal-content + p {
  padding-top: 40px;
}

.modal-wrapper img {
  display: block;
  margin: -140px auto;
  max-width: 600px;
}

.close {
  color: #000;
  font-size: 72px;
  font-weight: 500;
  cursor: pointer;
  text-align: right;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 16px;
    margin-top: 0;
  }

  #color-selector {
    margin-right: 0;
    margin-left: 0;
  }

  h2.subtitle {
    font-size: 96px;
  }

  .left-side,
  .right-side {
    width: 100%;
  }

  .section-title {
    margin-top: -52px;
    margin-left: 0;
    margin-bottom: 8px;
  }
  
  .right-side-content p {
    margin-left: 0;
  }

  .btns-container {
    margin-left: 0;
    margin-bottom: 100px;
  }
}

@media(max-width: 480px) {
  .first-section {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('mobile_landing.png');

  }
  
  #color-selector {
    margin-right: 0;
    margin-left: 0;
  }

  h1 { 
    font-size: 40px;
  }

  h2.subtitle {
    font-size: 64px;
  }

  .section-title {
    margin-top: -32px;
    font-size: 48px;
  }

  .right-side-content p {
    margin-right: 0;
  }

  .container {
    margin-bottom: 320px;
    overflow: visible;
  }

  .modal-wrapper {
    color: #000;
    padding: 20px;
    font-size: 28px;
  }

  h3.modal-title {
    text-align: left;
    font-size: 40px;
  }

  p.modal-content {
    padding-top: 40px;
    font-size: 30px;
  } 

  .instagram-anchor {
    font-size: 30px;
  }

  p.modal-content-sm {
    font-size: 18px;
  } 

  p.modal-content + p {
    padding-top: 0;
  } 

  .modal-wrapper img {
    display: block;
    margin: 0px auto;
    max-width: 380px;
  }

  .close {
    color: #000;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }  

  .prev,
